@import url(https://fonts.googleapis.com/css?family=Exo+2:400,700);

body{
  background-color:#FCFCFC;
  font-family: 'Exo 2', sans-serif;
}

header {
  margin: auto;
  margin-top: 40px;
  text-align: center;
}

.containerBox {
  margin: auto;
  width: 960px;
}

img {
  width: 275px;
  border: 2px solid #ACCFCC;
  border-radius: 25px;
  transition: all .5s;
  margin: 18px;
}

img:hover{
  opacity: .67;
  border-radius: 50%;

}

form{
  text-align: center;
}

button{
  margin-right: 20px;
  border-style: none;
  transition: all .5s;
}

button:hover{
  background-color: #ACCFCC;
  border-style: none;
  transform: scale(1.2);
}
